<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Visor.VStudio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Visor.VStudio.Properties.Settings>
            <setting name="VisualStudioProgId" serializeAs="String">
                <value>VisualStudio.DTE.14.0</value>
            </setting>
            <setting name="VisualStudioProgIds" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>VisualStudio.DTE.12.0</string>
                        <string>VisualStudio.DTE.13.0</string>
                        <string>VisualStudio.DTE.14.0</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Visor.VStudio.Properties.Settings>
    </userSettings>
</configuration>