<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RelatedRecords.Data.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RelatedRecords.Data.Properties.Settings>
            <setting name="DefaultMaxRowCount" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="CopyModes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>IncludeHeader</string>
                        <string>ExcludeHeader</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DefaultCopyMode" serializeAs="String">
                <value>IncludeHeader</value>
            </setting>
            <setting name="SelectionModes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Extended</string>
                        <string>Single</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DefaultSelectionMode" serializeAs="String">
                <value>Extended</value>
            </setting>
        </RelatedRecords.Data.Properties.Settings>
    </userSettings>
</configuration>