<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="path" value="C:\Code\Data\presentations" />
    <add key="pattern" value="*.xml" />
    <add key="port" value="3033" />
    <add key="maxItems" value="100"/>
    <add key="xsltPath" value="C:\Code\RelatedRecords.Tests\Log.Common.Services\Common\"/>
    
    <add key="contentProvider" value="Code.Service.ContentProviders.FileSystemContentProvider"/>
    <!--<add key="contentProvider" value="Code.Service.ContentProviders.AwsContentProvider"/>-->
    <add key="AWSProfileName" value="trainer"/>
    <add key="AWSRegion" value="us-east-1" />

    <!--<add key="contentProvider" value="Code.Service.ContentProviders.AzureContentProvider"/>-->
    <add key="azureServiceEndpoint" value="https://[your id].documents.azure.com:443/" />
    <!--read/write-->
    <!--<add key="azureAuthKey" value="[your key]" />-->
    <!--readonly-->
    <add key="azureAuthKey" value="[your key]"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>