<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="path" value="C:\Code\Data\presentations" />
    <add key="pattern" value="*.xml" />
    <add key="port" value="3033" />
    <add key="maxItems" value="100"/>
    <add key="contentProvider" value="Code.Service.ContentProviders.FileSystemContentProvider"/>
    <!--<add key="contentProvider" value="Code.Service.ContentProviders.AwsContentProvider"/>-->

    <!--<add key="contentProvider" value="Code.Service.ContentProviders.AzureContentProvider"/>-->
    <!-- Retrieve these values using the "Keys" blade your DocumentDB account in the Azure Mngt Portal (portal.azure.com) -->
    <add key="azureServiceEndpoint" value="TODO - [YOUR ENDPOINT]" />
    <add key="azureAuthKey" value="TODO - [YOUR AUTHKEY]" />
  </appSettings>  
</configuration>