<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Trainer.Wpf.VStudio.Tools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Trainer.Wpf.VStudio.Tools.Properties.Settings>
            <setting name="SourcePath" serializeAs="String">
                <value>C:\Code\Data</value>
            </setting>
            <setting name="FileMask" serializeAs="String">
                <value>*.xml</value>
            </setting>
            <setting name="DefaultComponent" serializeAs="String">
                <value>&lt;Component Id="" Name="Class" Action="Copy" IsBrowsable="true" TargetFile="$classname$.cs"&gt;
    &lt;Parameter Label="Namespace" Name="$rootnamespace$" IsVisible="false" IsProjectName="true" /&gt;
    &lt;Parameter Label="Class Name" Name="$classname$" Value="Class" /&gt;
    &lt;Code&gt;
      &lt;![CDATA[namespace $rootnamespace$
{
  public class $classname$ 
  {
    public $classname$() 
    {
    }
  }
}]]&gt;
    &lt;/Code&gt;
  &lt;/Component&gt;</value>
            </setting>
        </Trainer.Wpf.VStudio.Tools.Properties.Settings>
    </userSettings>
</configuration>