<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Visor.VStudio.Controls.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Visor.VStudio.Controls.Properties.Settings>
            <setting name="ExtensionsDirectory" serializeAs="String">
                <value>C:\Code\RelatedRecords.Tests\Binaries\extensions</value>
            </setting>
        </Visor.VStudio.Controls.Properties.Settings>
    </userSettings>
</configuration>