<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="dataSourceNameRegEx" value="([\s]*(?&lt;server&gt;Data\sSource=(?&lt;servername&gt;[a-zA-Z\s\.0-9%\\\-]*)))?(;(?&lt;catalog&gt;Initial\sCatalog=(?&lt;catalogname&gt;[a-zA-Z\s\.0-9%\\\-]*)))?"/>
    <add key="passwordRegEx" value="([\s]*(?&lt;passwordkey&gt;password|Password|PASSWORD)=(?&lt;passwordvalue&gt;[a-zA-Z\s\.0-9%\\\^\`~!@#\$&amp;\*\(\)_+\-=\[\{\]\}\]|:'&quot;,\&lt;\&gt;/\?]*))"/>
    <add key="schemaQuery"
      value="SELECT '[' + TABLE_NAME + ']' AS name,
(
        SELECT 
			[Column].COLUMN_NAME AS name, 
			[Column].DATA_TYPE AS DbType, 
			[Column].IS_NULLABLE AS isNullable, 
			'' as defaultValue,
			'isPrimaryKey' =
			(
				select case when count(*) &gt;= 1 then 1 else 0 end
				from INFORMATION_SCHEMA.CONSTRAINT_COLUMN_USAGE ccu
				where ccu.TABLE_NAME = [Table].TABLE_NAME and ccu.COLUMN_NAME = [Column].COLUMN_NAME and left(ccu.CONSTRAINT_NAME, 2) = 'PK'
	        ),
		    'isForeignKey' =
			(
				select case when count(*) &gt;= 1 then 1 else 0 end
				from INFORMATION_SCHEMA.CONSTRAINT_COLUMN_USAGE ccu
				where ccu.TABLE_NAME = [Table].TABLE_NAME and ccu.COLUMN_NAME = [Column].COLUMN_NAME and left(ccu.CONSTRAINT_NAME, 2) = 'FK'
	        ),
			'Constraint' =
		    (
				select top 1 replace(ccu.CONSTRAINT_NAME, 'FK_', '') 
				from INFORMATION_SCHEMA.CONSTRAINT_COLUMN_USAGE ccu
				where ccu.TABLE_NAME = [Table].TABLE_NAME and ccu.COLUMN_NAME = [Column].COLUMN_NAME and left(ccu.CONSTRAINT_NAME, 2) = 'FK'
	        ),
			'isIdentity' = 
			(
				select sc.is_identity
				from sys.tables st 
					inner join sys.columns sc on sc.object_id = st.object_id 
				where st.name = [Table].TABLE_NAME and sc.name = [Column].COLUMN_NAME
			)
        
        FROM information_schema.columns AS [Column]
        WHERE [Column].TABLE_NAME = [Table].TABLE_NAME
        ORDER BY [Column].ORDINAL_POSITION
        FOR XML AUTO, TYPE
)
FROM information_schema.TABLES AS [Table]
WHERE 
	TABLE_TYPE = 'BASE TABLE' 
	AND TABLE_NAME NOT LIKE 'sysdiagrams%'
ORDER BY 1
FOR XML AUTO, TYPE, ROOT('schema')"/>
  </appSettings>
</configuration>