<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="DefaultConfiguration" value="apitester.xml"/>
    <add key="ConfigurationPath" value="output"/>
    <add key="DefaultBuildWorkflow" value="buildworkflow.xml"/>
    <add key="BinariesPath" value="C:\Code\RelatedRecords.Tests\Binaries"/>
    <add key="ParameterRegEx" value="(/\w*/(?&lt;parameter&gt;({(?&lt;name&gt;[a-zA-Z0-9]*)})|({(?&lt;name&gt;[a-zA-Z0-9]*):[a-zA-Z0-9\.]*})))"/>
  </appSettings>
</configuration>