<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ApiTester.Wpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="DefaultConfiguration" value="apitester.xml"/>
    <add key="ConfigurationPath" value="output"/>
    <add key="DefaultBuildWorkflow" value="buildworkflow.xml"/>
    <add key="ParameterRegEx" value="(/\w*/(?&lt;parameter&gt;({(?&lt;name&gt;[a-zA-Z0-9]*)})|({(?&lt;name&gt;[a-zA-Z0-9]*):[a-zA-Z0-9\.]*})))"/>
    <add key="SwaggerProjectPath" value="C:\Code\api.firehost.services\api\swagger"/>
  </appSettings>
  <userSettings>
    <ApiTester.Wpf.Properties.Settings>
      <setting name="BinariesPath" serializeAs="String">
        <value />
      </setting>
      <setting name="DocumentationPath" serializeAs="String">
        <value />
      </setting>
    </ApiTester.Wpf.Properties.Settings>
  </userSettings>
</configuration>