USE [Interviewer]
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateQuestion]    Script Date: 2/29/2016 8:17:36 PM ******/
DROP PROCEDURE [dbo].[usp_UpdateQuestion]
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdatePlatform]    Script Date: 2/29/2016 8:17:36 PM ******/
DROP PROCEDURE [dbo].[usp_UpdatePlatform]
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateKnowledgeArea]    Script Date: 2/29/2016 8:17:36 PM ******/
DROP PROCEDURE [dbo].[usp_UpdateKnowledgeArea]
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateArea]    Script Date: 2/29/2016 8:17:36 PM ******/
DROP PROCEDURE [dbo].[usp_UpdateArea]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetInterviewerData]    Script Date: 2/29/2016 8:17:36 PM ******/
DROP PROCEDURE [dbo].[usp_GetInterviewerData]
GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteQuestion]    Script Date: 2/29/2016 8:17:36 PM ******/
DROP PROCEDURE [dbo].[usp_DeleteQuestion]
GO
/****** Object:  StoredProcedure [dbo].[usp_DeletePlatform]    Script Date: 2/29/2016 8:17:36 PM ******/
DROP PROCEDURE [dbo].[usp_DeletePlatform]
GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteKnowledgeArea]    Script Date: 2/29/2016 8:17:36 PM ******/
DROP PROCEDURE [dbo].[usp_DeleteKnowledgeArea]
GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteArea]    Script Date: 2/29/2016 8:17:36 PM ******/
DROP PROCEDURE [dbo].[usp_DeleteArea]
GO
/****** Object:  StoredProcedure [dbo].[usp_AddQuestion]    Script Date: 2/29/2016 8:17:36 PM ******/
DROP PROCEDURE [dbo].[usp_AddQuestion]
GO
/****** Object:  StoredProcedure [dbo].[usp_AddPlatform]    Script Date: 2/29/2016 8:17:36 PM ******/
DROP PROCEDURE [dbo].[usp_AddPlatform]
GO
/****** Object:  StoredProcedure [dbo].[usp_AddKnowledgeArea]    Script Date: 2/29/2016 8:17:36 PM ******/
DROP PROCEDURE [dbo].[usp_AddKnowledgeArea]
GO
/****** Object:  StoredProcedure [dbo].[usp_AddArea]    Script Date: 2/29/2016 8:17:36 PM ******/
DROP PROCEDURE [dbo].[usp_AddArea]
GO
ALTER TABLE [dbo].[Questions] DROP CONSTRAINT [FK_Questions_Areas]
GO
ALTER TABLE [dbo].[ProfileItem] DROP CONSTRAINT [FK_ProfileItem_Profiles]
GO
ALTER TABLE [dbo].[ProfileItem] DROP CONSTRAINT [FK_ProfileItem_Platforms]
GO
ALTER TABLE [dbo].[ProfileItem] DROP CONSTRAINT [FK_ProfileItem_KnowledgeAreas]
GO
ALTER TABLE [dbo].[ProfileItem] DROP CONSTRAINT [FK_ProfileItem_Areas]
GO
ALTER TABLE [dbo].[KnowledgeAreas] DROP CONSTRAINT [FK_KnowledgeAreas_Platforms]
GO
ALTER TABLE [dbo].[Areas] DROP CONSTRAINT [FK_Areas_KnowledgeAreas]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 2/29/2016 8:17:36 PM ******/
DROP TABLE [dbo].[Questions]
GO
/****** Object:  Table [dbo].[Profiles]    Script Date: 2/29/2016 8:17:36 PM ******/
DROP TABLE [dbo].[Profiles]
GO
/****** Object:  Table [dbo].[ProfileItem]    Script Date: 2/29/2016 8:17:36 PM ******/
DROP TABLE [dbo].[ProfileItem]
GO
/****** Object:  Table [dbo].[Platforms]    Script Date: 2/29/2016 8:17:36 PM ******/
DROP TABLE [dbo].[Platforms]
GO
/****** Object:  Table [dbo].[KnowledgeAreas]    Script Date: 2/29/2016 8:17:36 PM ******/
DROP TABLE [dbo].[KnowledgeAreas]
GO
/****** Object:  Table [dbo].[Areas]    Script Date: 2/29/2016 8:17:36 PM ******/
DROP TABLE [dbo].[Areas]
GO
USE [master]
GO
/****** Object:  Database [Interviewer]    Script Date: 2/29/2016 8:17:36 PM ******/
DROP DATABASE [Interviewer]
GO
/****** Object:  Database [Interviewer]    Script Date: 2/29/2016 8:17:36 PM ******/
CREATE DATABASE [Interviewer]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Interviewer', FILENAME = N'C:\Users\Miguel\Interviewer.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Interviewer_log', FILENAME = N'C:\Users\Miguel\Interviewer_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Interviewer].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Interviewer]
GO
/****** Object:  Table [dbo].[Areas]    Script Date: 2/29/2016 8:17:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Areas](
	[KnowledgeAreaId] [int] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
 CONSTRAINT [PK_Areas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KnowledgeAreas]    Script Date: 2/29/2016 8:17:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KnowledgeAreas](
	[PlatformId] [int] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](150) NOT NULL,
 CONSTRAINT [PK_KnowledgeAreas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Platforms]    Script Date: 2/29/2016 8:17:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Platforms](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_dbo.Platforms] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProfileItem]    Script Date: 2/29/2016 8:17:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProfileItem](
	[ProfileId] [int] NOT NULL,
	[PlatformId] [int] NULL,
	[KnowledgeAreaId] [int] NULL,
	[AreaId] [int] NULL,
	[IsRequired] [bit] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Profiles]    Script Date: 2/29/2016 8:17:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profiles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Profiles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Questions]    Script Date: 2/29/2016 8:17:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[AreaId] [int] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Weight] [int] NOT NULL DEFAULT ((1)),
	[Level] [int] NOT NULL DEFAULT ((1)),
	[Value] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](150) NULL,
 CONSTRAINT [PK_Questions] PRIMARY KEY CLUSTERED 
(
	[AreaId] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Areas] ON 

INSERT [dbo].[Areas] ([KnowledgeAreaId], [Id], [Name]) VALUES (1, 1, N'Managed vs non managed')
INSERT [dbo].[Areas] ([KnowledgeAreaId], [Id], [Name]) VALUES (1, 2, N'Object''s life cycle')
INSERT [dbo].[Areas] ([KnowledgeAreaId], [Id], [Name]) VALUES (1, 3, N'Garbage collection')
SET IDENTITY_INSERT [dbo].[Areas] OFF
SET IDENTITY_INSERT [dbo].[KnowledgeAreas] ON 

INSERT [dbo].[KnowledgeAreas] ([PlatformId], [Id], [Name]) VALUES (1, 1, N'Framework Fundamentals')
INSERT [dbo].[KnowledgeAreas] ([PlatformId], [Id], [Name]) VALUES (1, 2, N'C# knowledge')
INSERT [dbo].[KnowledgeAreas] ([PlatformId], [Id], [Name]) VALUES (2, 3, N'Object Oriented Programming')
SET IDENTITY_INSERT [dbo].[KnowledgeAreas] OFF
SET IDENTITY_INSERT [dbo].[Platforms] ON 

INSERT [dbo].[Platforms] ([Id], [Name]) VALUES (1, N'Net Framework')
INSERT [dbo].[Platforms] ([Id], [Name]) VALUES (2, N'Applications Development')
INSERT [dbo].[Platforms] ([Id], [Name]) VALUES (3, N'Web Development')
SET IDENTITY_INSERT [dbo].[Platforms] OFF
INSERT [dbo].[ProfileItem] ([ProfileId], [PlatformId], [KnowledgeAreaId], [AreaId], [IsRequired]) VALUES (1, 1, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[Profiles] ON 

INSERT [dbo].[Profiles] ([Id], [Name]) VALUES (1, N'DEV III')
INSERT [dbo].[Profiles] ([Id], [Name]) VALUES (2, N'DEV IV')
INSERT [dbo].[Profiles] ([Id], [Name]) VALUES (3, N'SEL')
SET IDENTITY_INSERT [dbo].[Profiles] OFF
SET IDENTITY_INSERT [dbo].[Questions] ON 

INSERT [dbo].[Questions] ([AreaId], [Id], [Weight], [Level], [Value], [Name]) VALUES (1, 1, 1, 1, N'Please describe what is the .net framework and its characteristics?', N'')
INSERT [dbo].[Questions] ([AreaId], [Id], [Weight], [Level], [Value], [Name]) VALUES (1, 2, 1, 1, N'What is a managed framework and what is a non-managed framework?', N'')
INSERT [dbo].[Questions] ([AreaId], [Id], [Weight], [Level], [Value], [Name]) VALUES (1, 3, 1, 1, N'What’s the principal characteristic of a managed framework?', N'')
GO
SET IDENTITY_INSERT [dbo].[Questions] OFF
ALTER TABLE [dbo].[Areas]  WITH CHECK ADD  CONSTRAINT [FK_Areas_KnowledgeAreas] FOREIGN KEY([KnowledgeAreaId])
REFERENCES [dbo].[KnowledgeAreas] ([Id])
GO
ALTER TABLE [dbo].[Areas] CHECK CONSTRAINT [FK_Areas_KnowledgeAreas]
GO
ALTER TABLE [dbo].[KnowledgeAreas]  WITH CHECK ADD  CONSTRAINT [FK_KnowledgeAreas_Platforms] FOREIGN KEY([PlatformId])
REFERENCES [dbo].[Platforms] ([Id])
GO
ALTER TABLE [dbo].[KnowledgeAreas] CHECK CONSTRAINT [FK_KnowledgeAreas_Platforms]
GO
ALTER TABLE [dbo].[ProfileItem]  WITH CHECK ADD  CONSTRAINT [FK_ProfileItem_Areas] FOREIGN KEY([AreaId])
REFERENCES [dbo].[Areas] ([Id])
GO
ALTER TABLE [dbo].[ProfileItem] CHECK CONSTRAINT [FK_ProfileItem_Areas]
GO
ALTER TABLE [dbo].[ProfileItem]  WITH CHECK ADD  CONSTRAINT [FK_ProfileItem_KnowledgeAreas] FOREIGN KEY([KnowledgeAreaId])
REFERENCES [dbo].[KnowledgeAreas] ([Id])
GO
ALTER TABLE [dbo].[ProfileItem] CHECK CONSTRAINT [FK_ProfileItem_KnowledgeAreas]
GO
ALTER TABLE [dbo].[ProfileItem]  WITH CHECK ADD  CONSTRAINT [FK_ProfileItem_Platforms] FOREIGN KEY([PlatformId])
REFERENCES [dbo].[Platforms] ([Id])
GO
ALTER TABLE [dbo].[ProfileItem] CHECK CONSTRAINT [FK_ProfileItem_Platforms]
GO
ALTER TABLE [dbo].[ProfileItem]  WITH CHECK ADD  CONSTRAINT [FK_ProfileItem_Profiles] FOREIGN KEY([ProfileId])
REFERENCES [dbo].[Profiles] ([Id])
GO
ALTER TABLE [dbo].[ProfileItem] CHECK CONSTRAINT [FK_ProfileItem_Profiles]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_Questions_Areas] FOREIGN KEY([AreaId])
REFERENCES [dbo].[Areas] ([Id])
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_Questions_Areas]
GO
/****** Object:  StoredProcedure [dbo].[usp_AddArea]    Script Date: 2/29/2016 8:17:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_AddArea] 
	@KnowledgeAreaId INT,
	@Name nvarchar(150)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	IF NOT EXISTS (SELECT TOP 1 Name FROM [Areas] WHERE Name = @Name)
		INSERT INTO [Areas] (KnowledgeAreaId, Name) VALUES (@KnowledgeAreaId, @Name) 
END

GO
/****** Object:  StoredProcedure [dbo].[usp_AddKnowledgeArea]    Script Date: 2/29/2016 8:17:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_AddKnowledgeArea] 
	@PlatformId INT,
	@Name nvarchar(150)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	IF NOT EXISTS (SELECT TOP 1 Name FROM [KnowledgeAreas] WHERE Name = @Name)
		INSERT INTO [KnowledgeAreas] (PlatformId, Name) VALUES (@PlatformId, @Name) 
END

GO
/****** Object:  StoredProcedure [dbo].[usp_AddPlatform]    Script Date: 2/29/2016 8:17:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_AddPlatform] 
	@Name nvarchar(255)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	IF NOT EXISTS (SELECT TOP 1 Name FROM [Platforms] WHERE Name = @Name)
		INSERT INTO [Platforms] (Name) VALUES (@Name) 
END

GO
/****** Object:  StoredProcedure [dbo].[usp_AddQuestion]    Script Date: 2/29/2016 8:17:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_AddQuestion] 
	@AreaId INT,
	@Value nvarchar(max),
	@Weight INT = 1,
	@Level INT = 1
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	IF NOT EXISTS (SELECT TOP 1 Value FROM [Questions] WHERE Value = @Value)
		INSERT INTO [Questions] (AreaId, Value, Weight, Level) VALUES (@AreaId, @Value, @Weight, @Level) 
END

GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteArea]    Script Date: 2/29/2016 8:17:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_DeleteArea]
	@Id INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	IF EXISTS (SELECT TOP 1 Name FROM [Areas] WHERE Id = @Id)
	BEGIN
		
		DELETE [Areas] WHERE Id = @Id 
	END
END

GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteKnowledgeArea]    Script Date: 2/29/2016 8:17:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_DeleteKnowledgeArea]
	@Id INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	IF EXISTS (SELECT TOP 1 Name FROM [KnowledgeAreas] WHERE Id = @Id)
	BEGIN
		
		DELETE [KnowledgeAreas] WHERE Id = @Id 
	END
END

GO
/****** Object:  StoredProcedure [dbo].[usp_DeletePlatform]    Script Date: 2/29/2016 8:17:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_DeletePlatform] 
	@Id INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	IF EXISTS (SELECT TOP 1 Name FROM [Platforms] WHERE Id = @Id)
	BEGIN
		
		DELETE [Platforms] WHERE Id = @Id 
	END
END

GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteQuestion]    Script Date: 2/29/2016 8:17:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_DeleteQuestion]
	@Id INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	IF EXISTS (SELECT TOP 1 Value FROM [Questions] WHERE Id = @Id)
	BEGIN
		
		DELETE [Questions] WHERE Id = @Id 
	END
END

GO
/****** Object:  StoredProcedure [dbo].[usp_GetInterviewerData]    Script Date: 2/29/2016 8:17:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_GetInterviewerData]
	@Platform nvarchar(255) = NULL,
	@KnowledgeArea nvarchar(150) = NULL,
	@Area nvarchar(150) = NULL,
	@Question nvarchar(max) = NULL,
	@Profile nvarchar(255) = NULL
AS
BEGIN
	
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT [Platform].Id
		,[Platform].Name
	,(
		SELECT [KnowledgeArea].PlatformId
			,[KnowledgeArea].Id
			,[KnowledgeArea].Name
		,(
			SELECT [Area].KnowledgeAreaId
				,[Area].Id
				,[Area].Name
			,(
				SELECT [Question].AreaId
					,[Question].Id
					,[Question].Weight
					,[Question].Level
					,[Question].Value
				FROM [Questions] [Question]
				WHERE [question].AreaId = [Area].Id
					AND UPPER([Question].Value) LIKE IIF(@Question IS NULL, '%', '%' + UPPER(@Question) + '%')
				FOR XML AUTO, TYPE
			)
			FROM [Areas] [Area]
			WHERE [Area].KnowledgeAreaId = [KnowledgeArea].Id
				AND UPPER([Area].Name) LIKE IIF(@Area IS NULL, '%', '%' + UPPER(@Area) + '%')
			FOR XML AUTO, TYPE
		)
		FROM [KnowledgeAreas] [KnowledgeArea]
		WHERE [knowledgeArea].PlatformId = [platform].Id
			AND UPPER([KnowledgeArea].Name) LIKE IIF(@KnowledgeArea IS NULL, '%', '%' + UPPER(@KnowledgeArea) + '%')
		FOR XML AUTO, TYPE
	),
	(
		SELECT [Profile].Id
			,[Profile].Name
			,[Requirement].ProfileId
			,[Requirement].PlatformId
			,[Requirement].KnowledgeAreaId
			,[Requirement].AreaId
			,[Requirement].IsRequired
		FROM [Profiles] [Profile]
			INNER JOIN [ProfileItem] [Requirement] ON [Profile].Id = [Requirement].ProfileId			
		WHERE [Requirement].PlatformId = [Platform].Id
			AND UPPER([Profile].Name) LIKE IIF(@Profile IS NULL, '%', '%' + UPPER(@Profile) + '%')
		FOR XML AUTO, TYPE
	) 
	FROM Platforms [Platform]
	WHERE UPPER([Platform].Name) LIKE IIF(@Platform IS NULL, N'%', '%' + UPPER(@Platform) + '%')
	FOR XML AUTO, TYPE, ROOT('configuration')
END

GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateArea]    Script Date: 2/29/2016 8:17:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_UpdateArea] 
	@Id INT,
	@Name nvarchar(150)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	IF EXISTS (SELECT TOP 1 Name FROM [Areas] WHERE Id = @Id)
		UPDATE [Areas] SET Name = @Name WHERE Id = @Id 
END

GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateKnowledgeArea]    Script Date: 2/29/2016 8:17:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_UpdateKnowledgeArea] 
	@Id INT,
	@Name nvarchar(150)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	IF EXISTS (SELECT TOP 1 Name FROM [KnowledgeAreas] WHERE Id = @Id)
		UPDATE [KnowledgeAreas] SET Name = @Name WHERE Id = @Id 
END

GO
/****** Object:  StoredProcedure [dbo].[usp_UpdatePlatform]    Script Date: 2/29/2016 8:17:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_UpdatePlatform] 
	@Id INT,
	@Name nvarchar(255)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	IF EXISTS (SELECT TOP 1 Name FROM [Platforms] WHERE Id = @Id)
		UPDATE [Platforms] SET Name = @Name WHERE Id = @Id 
END

GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateQuestion]    Script Date: 2/29/2016 8:17:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_UpdateQuestion] 
	@Id INT,
	@Value nvarchar(max),
	@Weight INT = 1,
	@Level INT = 1
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	IF EXISTS (SELECT TOP 1 Value FROM [Questions] WHERE Id = @Id)
		UPDATE [Questions] SET Value = @Value, Weight = @Weight, Level = @Level WHERE Id = @Id 
END

GO
USE [master]
GO
